backports.entry-points-selectable==1.1.0
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///C:/ci/cryptography_1639472366776/work
distlib==0.3.2
filelock==3.0.12
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
pipenv==2021.5.29
platformdirs==2.2.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygame==1.9.6
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
simplekml @ file:///home/conda/feedstock_root/build_artifacts/simplekml_1631823077176/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
virtualenv==20.7.2
virtualenv-clone==0.5.6
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
